.detailContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    background-color: beige;
}

.productContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
}