.DivCartWidget{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    color: white;
    text-decoration: none;
}

#BagImg{
    height: 50px;
    width: auto;
    
}

@media screen and (min-width: 600px) {
    #BagImg{
        width: 20%;
        height: auto;
    }
}