.Navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #014365;
}

.leftDiv {
    flex: 30%;
    align-items: center;
}

.logo {
    max-width: 100px;
}

.rightDiv {
    flex: 70%;
    align-items: center;

}

.listContainer{
    display: flex;
    align-items: flex-end;
}


.CartAndMenuContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.DivCartWidget {
    display: flex;
    max-width: 200px;
    justify-content: right;
    margin-right: 10px;

}

#hamburger_checkbox {
    display: none;
}


.hamburger_label {
    display: inline-block;
    color: #151515;
    margin: 0px;
}

.MenuBottonList {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    min-width: 300px;
    padding: 0px;
    list-style-type: none;
    background-color: #014365;
}


nav .Navbar .MenuBottonList>li {
    flex-basis: 100%;
}

input:checked+.MenuBottonList {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30%;
    top: 5%;
}

.navbar_link{
    font-size: 1rem;
    border-radius: 3px;
    padding: 10px 30px;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    font-weight: bolder;

}

@media all and (min-width: 601px) {
    .hamburger_label {
        display: none;
    }

    .CartAndMenuContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .MenuBottonList {
        display: flex;
        align-items: flex-end;
        margin: 0;
        margin-top: 20px;
        
    }
}

